<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cowsay!</title>
  </head>
  <body>
    <h1>Cowsay!</h1>
    <p>
      Welcome to the cowsay site. Type anything you want in the text box and a
      cow will say it
      <form action="/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit!">
      </form>
      <ul>
        {% for item in data %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </p>
  </body>
</html>
